<div class="post card border-dark mb-3" style="max-width: 100%;">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <h5 class="card-title">By: {{user.username}} on {{format_date postDate}}</h5>
        <div class="card-body">
            {{content}}
        </div>
    </div>
</div>

{{#if loggedIn}}

<form class="comment-form card border-dark mb-3" id="commentCard">
    <div class="card-header">Leave a Comment</div>
    <div class="comment-form-body">
        <div>
            <textarea class ="form-input w-50 h-50 m-3" type="text" id="commentInput"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-info ml-3 mb-3" id="commentBtn">Submit</button>
        </div>
    </div>
</form> 

<script src="/js/comment.js"></script>

{{/if}}

<section class="card border-dark mb-3">
    <div class="card-header">Comments</div>
    {{#if this}}
    {{#each this}}
        <div class="ml-3">
            <p class="font-italic">{{user.username}} on {{format_date comment.commentDate}}</p>
            <p>{{comment.commentText}}</p>
        </div>
    {{/each}}
    {{else}}
        <div>
            <p class="font-italic ml-3 mt-3">No comments to display</p>
        </div>
    {{/if}}
    </div>
</section> 

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}